<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <%-include('../partials/bootstrap')%>
</head>

<body>
    <%-include('../partials/navigation-shared')%>
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-sm-6">
                    <br>
                    <h1 class="display-4" style="text-align: center;">New User Form</h1>
                    <hr>
                    <div class="container">
                        <form action='/admin/new-user' method='POST'>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="emailid" name="emailid" aria-describedby="emailHelp" placeholder="Enter email">

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                        <%if(error){%>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error:</strong> Another user has that email.
                                <button type="button" class="close btn btn-danger btn-sm" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <%}%>
                    </div>
                </div>
            </div>
        </div>
        <%-include('../partials/bootstrap-script')%>
</body>

</html>