<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Report</title>
    <%-include('../partials/bootstrap')%>
</head>

<body>
    <%-include('../partials/navigation-user')%>
        <div class="container">

            <div class="row">

                <div class="col-md-12">
                    <br>
                    <h1 class="display-4" style="text-align: center;">Share Report</h1>
                    <hr>
                    <div class="container">
                        <h5 class="display-6">Copy and share this Link</h5>
                        <p>This link will only be valid for a maximum of 1 hour. If an error page is received please resend the share link.</p>
                        <p>
                            <%=l%>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>